PORT=
CLIENT_ORIGIN=
CLIENT_ORIGINS=
ADMIN_PASSWORD=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
BOOKING_REQUEST_TO=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_SERVICE_ACCOUNT_JSON=

UPLOADS_DIR=

RAPIDAPI_KEY=
RAPIDAPI_HOST=
SKY_SCRAPPER_HOST=
TRIPADVISOR_HOST=
